GEMINI_API_KEY=tu_api_key_aqui
GEMINI_MODEL=gemini-3.1-flash-lite
OPENAI_API_KEY=tu_api_key_aqui
OPENAI_MODEL=
LLM_PROVIDER=GEMINI
DB_USER=postgres
DB_PASSWORD=mi_password_secreto
DB_NAME=northwind_dw
DB_PORT=5432
DB_HOST=localhost
BUDGET=0.5
GEMINI_INPUT_TOKENS_COST_PER_MILLION=0.075
GEMINI_OUTPUT_TOKENS_COST_PER_MILLION=0.30
OPENAI_INPUT_TOKENS_COST_PER_MILLION=2.50
OPENAI_OUTPUT_TOKENS_COST_PER_MILLION=10.00