# Entorno virtual
env/
venv/
.venv/

# Credenciales y configuración local
.env
.env.local
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.vscode/settings.json
.idea/
*.swp

# Sistema operativo
.DS_Store           # macOS
Thumbs.db           # Windows

#Logs
logs
*.log

#Docker
northwind/
